@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
:root{
    /* scroll-behavior: smooth; */
    --light-text: #00877c;
    --bg-color: #009688;
    --light-bg: #efefef;
}
/* Navigation */
#navigation{
    background-image: linear-gradient(rgba(0,0,0,0.4), var(--bg-color)), url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    position: absolute;
    top: 2rem;
    left: 4rem;
}
.banner-text{
    padding-top: 40vh;
    text-align: center;
    color: #fff;
}
.banner-text h1{
    font-size: 12vmin;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p{
    font-style:italic;
}
.banner-btn{
    padding: .5rem 1.5rem;
    display: inline-block;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    margin: 1rem;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn span{
    position: absolute;
    top: 0;
    left:0;
    width: 0%;
    background-color: white;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn:hover span{
    width: 100%;
}
.banner-btn:hover{
    color:black;
}

/* Side navigation bar */
.side-nav{
    position: fixed;
    top: 0;
    right:-13em;
    background-color: #51613e;
    width:13em;
    transition: 1s;
}
.side-nav ul{
    list-style:none;
    margin-top: 2.5em;
}
.side-nav ul li{
    text-align: center;
    border-bottom: 1px solid #777;
}
.side-nav ul li:first-child{
    border-top: 1px solid #777;
}
.side-nav ul li:last-child{
    border-bottom: none;
}
.side-nav ul a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .6em 1.5em;

}
.side-nav ul a:hover{
    color: #ccc;
}
.menu-btn{
    position: fixed;
    top: 3px;
    right:5px;
    color: white;
    padding: 2px 2px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #777;
    text-align: center;
    z-index: 5;
}
/* Features */
.title-text{
    margin: 20px 0;
    padding: 50px 0;
    text-align: center;
}
.title-text p{
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    display: inline-block;
    z-index: 1;
    position: relative;
}
.title-text p::after{
    content:"";
    background-image: linear-gradient( #166, #fff);
    width: 2.5em;
    height: 100%;
    position: absolute;
    left:0;
    top: -0.5rem;
    transform: rotate(-10deg);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: -1;
}
.title-text h1{
    font-size: 50px;
    font-weight: 700;
}
.feature-box{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    align-items: center;
}
.feature{
    flex-basis: 50%;
}
.feature h1{
    color: var(--light-text);
}
.feature-img{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}
.feature-img img{
    width: 60%;
    border-radius: 1rem;
}
.features-desc{
    display: flex;
    align-items: center;
    margin: 0.8rem 0;
}
.feature-icon .fa{
 font-size: 35px;
 color:#00877c;
 border: 2px solid #00877c;
 text-align:center;
 border-radius: 8px;
 width: 50px;
 height: 50px;
 line-height: 50px;
}
.feature-text{
    margin: 0 1rem;
}
/* Service */
#service{
    background: var(--light-bg);
}
.service-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    margin-bottom: 15px;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.single-service:hover .overlay{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left:0;
    background: linear-gradient(rgba(0,0,0,0.3), #009688);
    cursor: pointer;
}
.service-desc{
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: 500ms ease-out;
}
.service-desc hr{
    width: 50%;
    height: 2px;
    background: #fff;
    margin: 10px auto;
}
.single-service:hover .service-desc{
    opacity: 1;
    bottom: 50%;
}
@media screen and (max-width: 768px){
    .title-text{
        padding: 20px 0;
    }
    .title-text h1{
        font-size: 35px;
    }
    .feature{
        flex-basis: 100%;
    }
    .feature-img{
        flex-basis: 100%;
    }
    .feature-img img{
        width: 100%;
    }
    .single-service{
        flex-basis: 100%;
    }
    .service-desc{
        font-size: 70%;
    }
}
/* testimonial */
.testimonial-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: 1s ease-out;
}
.testimonial-col{
    flex-basis: 30%;
    box-shadow: 1px 2px 20px 3px rgba(0,0,0,0.3);
    padding: .5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.testimonial-col:hover{
    transform: translateY(-7px);
}
.testimonial-col p{
    font-size: 14px;
    font-weight: 600;
    color:#557;
}
.testimon-head{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.testimon-head img{
    width: 13%;
    border-radius: 3px;
    margin-right: 1rem;
}
.t-name p{
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
}
.t-name small{
    color: #008998;
    font-weight: bold;
}
.t-name .fa-twitter{
    font-size: 18px;
    color:#9898ff;
    margin-left: 10px;
}
@media (max-width: 768px){
    .testimonial-col{
        flex-basis: 100%;
    }
}
/* footer */
#footer{
    background: var(--light-bg);
    padding-bottom: 1.5rem;
}
.footer-box{
    display: flex;
    flex-wrap: warp;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.footer-right{
    text-align: right;
}
.footer-box h1{
    font-size: .9rem;
    font-weight: 800;
    margin-bottom: 1em;
}
.footer-box p{
    font-size: 0.7rem;
    color: #777;
    padding-left: 1em;
    font-weight: 600;
    line-height: 2em;
}
.social{
text-align: center;
}
.social .fa{
    font-size: 20px;
    margin: 3px;
    border: 1px solid black;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
}
.social .fa:hover{
    background: #333;
    color: #fff;
    cursor: pointer;
}
.copyright p{
    text-align: center;
    font-size: .8rem;
}